@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  /* border: 1px solid red; */
}
body.about {
  color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  background-image: url(../9-1-front-end-portfolio-project/images/hops-vines.jpeg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: black;
  font-weight: 700;
}
body.cheers {
  color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  background-image: url(../9-1-front-end-portfolio-project/images/cheers_bar_artifacts.webp);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: black;
  font-weight: 700;
}
body.reviews {
  color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  background-image: url(../9-1-front-end-portfolio-project/images/review.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: black;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}
p,
h2,
h3,
a {
  background-color: #c69100c4;
}
#Me {
  text-align: center;
}
#Myself {
  height: 200px;
  width: 200px;
}
form {
  text-align: center;
  height: 100px;
}
#brewery {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
header {
  background: rgb(143, 95, 5);
  color: #f3fcf0;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 42px;
  margin-top: 0;
}

header nav ul {
  padding: 0;
  color: rgb(143, 95, 5);
}

header nav li {
  display: inline-block;
}

header nav li a {
  color: #f3fcf0;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}

header nav li a:hover {
  color: #ffd23f;
  border-bottom: 2px dotted #ffd23f;
}

main {
  margin: 10px auto;
  width: 90%;
}

main a {
  color: #a675a1;
  text-decoration: none;
}

main a:hover {
  color: rgb(143, 95, 5);
}

main img {
  border: 2px solid rgb(143, 95, 5);
  border-radius: 3px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

main aside {
  font-size: 14px;
}

main aside span {
  display: inline-block;
  margin-right: 5px;
}

main .featured,
main .posts {
  column-gap: 30px;
  display: grid;
  line-height: 1.5;
  margin: 25px 0;
}

main .featured {
  grid-template-columns: 2fr 1fr;
}

main .featured h2 {
  font-size: 36px;
}

main .posts {
  grid-template-columns: 1fr 1fr 1fr;
}
aside {
  display: grid;
}
ol {
  grid-template-columns: auto;
  grid-template-rows: auto;
}
ol li {
  margin: 10px;
  padding: 10px;
  width: 150px;
}

footer {
  background: rgb(143, 95, 5);
  color: #f3fcf0;
  font-size: 14px;
  padding: 25px;
  text-align: right;
  margin-top: auto;
}

@media (max-width: 375px) {
  header {
    width: max-content;
  }
  body {
    width: auto;
  }
  nav ul li {
    padding: 10px;
  }
  .posts {
    display: grid;
    position: relative;
    grid-template-rows: ;
  }
}
